/*footer du desktop*/
.footer {
    position: relative;
    width: 100%;
    color: black;
    text-align: center;
}
 
.recucol{
    margin-left: 170px;
}
.recutext{
    margin-left: 40px;
}
.cartsignature{
    margin-left: 500px;
}
.divrecumobile{
  margin-left: 15px;
}
.linksocial{
  margin-left: 5px;
  margin-right: 5px;
}
.iconsocial{
  zoom: 1.5;
}
.cartaccueiltaux {
  width: 50%;

}
#btnpaginate{
  margin-left: 2px;
  margin-right: 2px;
}

.navoff{
  border-bottom: 1px solid gray;
}
/*stylisation sidebar*/
 .sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: absolute;
    height: 600px;
    overflow: auto;
    width: 25%;
  }
/*page sur desktop avec sidebar*/
.displayside{
  width: 100%;
  margin-left: 25%;
  height: 600px;
  position: relative;

}
/*Stylisation affichage mobile et desktop*/
@media screen and (max-width: 599px){
  .desk{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .displayside{
     width: 100%;
     margin-left: 0%;
  }
  .footer{
    display: none;  
  }
 .mobile {
    height: 100%;
    overflow: auto;
   
  }
  
}
@media screen and (min-width: 600px){
  .mobile{
    display: none;
  }
  .desk {
    height: 100%;
    overflow: auto;
    position: relative;
   
  }

  
}
 

  /*Stylisation du segment de la page officielle*/
  @media screen and (max-width: 700px) {
    
     /*Stylisation du segment */
  
     /*Stylisation du button toggle*/
    #toggle {
      display: initial;
   
    }
   
  }
  

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.foot{
  position:relative;
}



/*Side bar de la connexion et de l incription*/
.sideconnexion {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
  
}

.carousellog{
  height:600px;
  margin-left: 25%;
}
.noflow{
  overflow-x: hidden;
}
.imgcarousellog{
  width: 100%;
  height: 600px;
}
.redstyle{
  color:red;
}
.centerbtn{
  text-align: center;
}
.link{
 /* text-decoration: none;*/
  color: black;
}
.btndrop{
  background: none;
  border: none;
}
.btnnav{
  margin-left: 3px;
  margin-right: 3px;
}
.segmentnavmobile{
  background: none;
  border: none;
}

.nodecolink{
  text-decoration: none;
  color: inherit;
}
.segment{
  margin-top: 10px;
}

.divcarousel{
  margin-top: 20px;
}
.imgcarousel{
  width: 100%;
  height: 350px;
}
.footerofficiel{
  border-top: 1px solid gray;

}

.linkfootofficiel{
  text-decoration: none;
  color: black;
}
.nodecoul{
   list-style-type: none;
}

.iconsocialfoot{
  zoom: 2;
}

.divaciton{
  width: 50%;
}
.formdepot{
  width: 60%;
}
.divform{
  margin-left:30%;
}